.container {
    width: 690px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-1 {
    width: 115px;
}

.col-2 {
    width: 230px;
}

.col-3 {
    width: 345px;
}

.col-4 {
    width: 460px;
}

.col-5 {
    width: 575px;
}

.col-6 {
    width: 690px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
    display: inline;
    float: left;
    padding-bottom: 5px;
}

.offset-1 {
    padding-left: 115px
}

.offset-2 {
    padding-left: 230px
}

.offset-3 {
    padding-left: 345px
}

.offset-4 {
    padding-left: 460px
}

.offset-5 {
    padding-left: 575px
}

.offset-6 {
    padding-left: 690px
}

.row {
    float: left;
    clear: both;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-family: Verdana;
}

.top-string-align {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.result-string {
    text-align: right;
    padding-right: 5px;
}

input[type="text"] {
    border: 3px solid #cccccc;
    border-radius: 5px;
    outline: none;
    height: 25px;
    width: 460px;
    color: #cccccc;
    font-size: 18px;
    font-family: Tahoma;
}

.buttons {
    font-family: Arial;
    font-size: 15px;
    /*font-weight: bold;*/
    padding: 6px 24px;
    text-decoration: none;
    text-align: center;
    height: 25px;
    width: 20px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
}

.button-decimal {
    background-color: #e0e0e0;
    color: #666666;
}

.button-decimal:hover {
    background-color: #E0E07D;
}

.button-decimal:active {
    position: relative;
    top: 1px;
}

.button-operator {
    background-color: #32C3FB;
    color: #ffffff;
}

.button-operator:hover {
    background-color: #32C391;
}

.button-operator:active {
    position: relative;
    top: 1px;
}

sup {
    top: -.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

.buttons-row {
    /*margin-top: 10px;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*padding-left: 283px;*/
    /*float: right;*/
    /*clear: both;*/
    /*margin-right: 162px;*/
}